:root{
  --header-height: 3rem;

  /*-------------colors-----------*/
  --background-color-light:white;
  --text-color-light: black;


  --background-color-dark: black;
  --text-color-dark: white;
  --button-color-dark: black;

  /*-------------fonts-----------*/
  --body-font:'roboto';

  /*.5rem=8px, 1rem=16px, 1.5rem=24px */
  --big-font-size:3rem;
  --mid-font-size:2rem;
  --small-font-size:1.25rem;

  /*-------------font weight-----------*/
  --font-medium:500;
  --font-semi-bold:600;

  /*-------------z index-----------*/
  --z-tooltip:10;
  --z-fixed:100;
  --z-modal:1000;
}
.dark-theme{
  --background-color-light:#1D1B1B;
  --text-color-light: white;
}

/*----------------- Base ---------------*/
html{
  scroll-behavior: smooth;
}
body{
  margin: 0 0 var(--header-height) 0;
  /*font-size: var(--normal-font-size);*/
  background: var(--background-color-light);
  color: var(--text-color-light);
  /*background-image: url("/images/pg.png");*/
  /*background-size: cover;*/
  /*height: 100vh;*/
}
html,body{
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,h2,h3,h4{
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
/*----------------- Base END ---------------*/

/* ----------------------- Resuable classes ----------------------- */

.section{
  padding-bottom: 2rem;
}

.section_title{
  font-size: var(--mid-font-size);
  color: var(--text-color-light);
  text-align: center;
}
.section_title::after{
  content: "";
  width: 0%;
  height: 2px;
  background: lavender;
  display: block;
  margin: auto;
}
.section_title:hover::after{
  width: 10%;
  transition: 0.2s;
  background-position: -100%;
}
.section_subtitle{
  font-size: var(--small-font-size);
  text-align: center;
}
/* ----------------------- Resuable classes END ----------------------- */
/* ----------------------- layout ----------------------- */
.container{
  margin-left: 6rem;
  margin-right: 2rem;
}
.grid{
  display: grid;
  /*gap: 1.5rem;*/
  align-items: center;
}
